* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px grey;
}
header div.logo {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex: 5 1 400px;
}
header div.logo img {
  width: 6vw;
  height: 6vh;
}
header div.nav {
  flex: 2 1 400px;
}
header div.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
header div.nav ul li a {
  color: rgb(0, 200, 200);
  text-decoration: none;
  font-size: 1.35rem;
}

main section.backImg {
  min-height: 90vh;
  width: 100%;
  background-image: url(../pexels-photo-416676.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
main section.backImg h3 {
  font-size: 4rem;
  color: aliceblue;
}
main section.backImg .start {
  background-color: rgb(0, 157, 255);
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: aliceblue;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
main section.backImg .start:hover {
  box-shadow: 0 0 10px ghostwhite;
}
main section.backImg .filter {
  background-color: black;
  opacity: 20%;
  min-height: 90vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.second h2 {
  font-size: 2rem;
  padding: 1rem;
}

section.part {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  flex: 1 1 300px;
}
.part1 img {
  width: 15vw;
  height: 15vw;
  border-radius: 180px;
  transition: all 2s;
}
.part1 img:hover {
  transform: scale(1.25);
}
.part1 h4 {
  font-size: 2rem;
  padding: 3rem;
  margin: 1rem 0rem;
}
.part1 p {
  height: 2rem;
  font-size: 1.25rem;
  padding: 2rem;
  margin: 2rem 0rem;
}
.part1 a {
  text-decoration: none;
  font-size: 1.25rem;
  background-color: rgb(0, 157, 255);
  color: aliceblue;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  margin: 2rem;
}

footer {
  background-color: rgb(255, 225, 0);
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}
footer .last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 2rem;
}
footer img {
  width: 5vw;
  height: 5vw;
}

.con a {
  list-style-type: none;
  text-decoration: none;
  margin: 0rem 0.5rem;
  color: black;
  font-weight: 900;
}

.m {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.m img {
  width: 3vw;
  height: 3vw;
  margin: 2rem;
}

@media screen and (max-width: 550px) {
  header div.logo img {
    width: 10vw;
    height: 10vh;
  }
}
@media screen and (max-width: 800px) {
  main section.backImg h3 {
    font-size: 1rem;
  }
  main section.backImg .start {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  main section.part div.part1 img {
    width: 30vw;
    height: 30vw;
  }
}
@media screen and (max-width: 700px) {
  footer div.m img {
    width: 10vw;
    height: 10vw;
  }
}/*# sourceMappingURL=style.css.map */